run = "python Mara_Python/runner.py;python"
language = "python3"
onBoot="echo Booting up!"

[packager]
afterInstall="date >> Mara_Python/temp/package_install_log"
ignoredPaths=[".git"]
ignoredPackages=["twitter", "discord"]